In [3]:
import requests
import datetime

In [4]:
username = ''
token = ''

In [5]:
refdes = 'RS03INT2-MJ03D-06-BOTPTA303'
method = 'streamed'
stream = 'botpt_nano_sample'
beginDT = '2017-08-11T02:54:28.000Z'
endDT = '2017-08-11T02:54:29.000Z'

## Check M2M synchrnous response from production Cassandra.

In [6]:
base_url= 'https://ooinet.oceanobservatories.org/api/m2m/12576/sensor/inv/'
subsite = refdes[:8]
node = refdes[9:14]
sensor = refdes[15:]

data_request_url ='/'.join((base_url,subsite,node,sensor,method,stream))
params = {
    'beginDT':beginDT,
    'endDT':endDT,
    'limit':1000,   
}

r = requests.get(data_request_url, params=params,auth=(username, token))
data = r.json()

###  Data at 02:54:28.80 is missing.

In [7]:
ntp_epoch = datetime.datetime(1900, 1, 1)
unix_epoch = datetime.datetime(1970, 1, 1)
ntp_delta = (unix_epoch - ntp_epoch).total_seconds()

for i in range(len(data)):
    timestamp = data[i]['time']
    timestamp = datetime.datetime.utcfromtimestamp(timestamp - ntp_delta)
    print(timestamp)

2017-08-11 02:54:27.900000
2017-08-11 02:54:27.950000
2017-08-11 02:54:28
2017-08-11 02:54:28.050000
2017-08-11 02:54:28.100000
2017-08-11 02:54:28.150000
2017-08-11 02:54:28.200000
2017-08-11 02:54:28.250000
2017-08-11 02:54:28.300000
2017-08-11 02:54:28.350000
2017-08-11 02:54:28.400000
2017-08-11 02:54:28.450000
2017-08-11 02:54:28.500000
2017-08-11 02:54:28.550000
2017-08-11 02:54:28.600000
2017-08-11 02:54:28.650000
2017-08-11 02:54:28.700000
2017-08-11 02:54:28.750000
2017-08-11 02:54:28.850000
2017-08-11 02:54:28.900000
2017-08-11 02:54:28.950000
2017-08-11 02:54:29
2017-08-11 02:54:29.050000
2017-08-11 02:54:29.100000

## Check raw data file.

In [22]:
input_file = 'https://rawdata.oceanobservatories.org/files/RS03INT2/MJ03D/BOTPTA303_10.31.9.6_9338_20170811T0000_UTC.dat'
raw_data = pd.read_csv(input_file, header=None, error_bad_lines=False, warn_bad_lines=False)
raw_data = raw_data.dropna()

### Data at 02:54:28.80 is available.

In [34]:
raw_data[raw_data[2].str.contains('02:54:28')]

           0  1                        2            3         4
213227  NANO  P  2017/08/11 02:54:28.000  2258.107667  3.190922
213228  NANO  P  2017/08/11 02:54:28.050  2258.107768  3.190923
213229  NANO  P  2017/08/11 02:54:28.100  2258.109590  3.190924
213230  NANO  P  2017/08/11 02:54:28.150  2258.107765  3.190924
213231  NANO  P  2017/08/11 02:54:28.200  2258.107366  3.190925
213232  NANO  P  2017/08/11 02:54:28.250  2258.110024  3.190926
213233  NANO  P  2017/08/11 02:54:28.300  2258.109983  3.190927
213234  NANO  P  2017/08/11 02:54:28.350  2258.106522  3.190928
213235  NANO  P  2017/08/11 02:54:28.400  2258.106749  3.190929
213236  NANO  P  2017/08/11 02:54:28.450  2258.107735  3.190930
213237  NANO  P  2017/08/11 02:54:28.500  2258.106907  3.190930
213238  NANO  P  2017/08/11 02:54:28.550  2258.105868  3.190931
213239  NANO  P  2017/08/11 02:54:28.600  2258.107362  3.190932
213240  NANO  P  2017/08/11 02:54:28.650  2258.109439  3.190933
213241  NANO  P  2017/08/11 02:54:28.700  2258.108969  3.190934
213242  NANO  P  2017/08/11 02:54:28.750  2258.107517  3.190935
213243  NANO  P  2017/08/11 02:54:28.800  2258.108499  3.190936
213244  NANO  P  2017/08/11 02:54:28.850  2258.107990  3.190937
213245  NANO  P  2017/08/11 02:54:28.900  2258.109053  3.190938
213246  NANO  P  2017/08/11 02:54:28.950  2258.109886  3.190939